*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --color-boton_1: #cc7478;
    --color-boton_2: #c49df9;
    --color-boton_3: #1b769b;
    --color-fondo-btn: #ffffff;
    --color-fondo: #e2c7a8;
    --color-fondo-modal: rgba(237 237 221 / 0.4);
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.stj-cta{
  display: inline-block;
  padding: 7px 0;
  width: 100px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  color: var(--color-boton_1);
  background-color: var(--color-fondo-btn);
}

.stj-modal-container{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--color-fondo-modal);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stj-modal{
  width: 40%;
  height: 50%;
  background-color: var(--color-fondo-btn);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  transform: transform 1s;
  transform: translateY(0%);
  /*overflow: hidden;*/
}

.stj-close{
  position: relative;
  top: 5px;
  margin-left: auto;
  left: -5px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: var(--color-boton_2);
  color: var(--color-fondo-btn);
  line-height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

.stj-modal-close{
  transform: translateY(-200%);
}

.stj-modal > img{
  height: 50%;
}
